{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<body style="background-color: rgb(90, 206, 196);" >
    <main class="p-5">
        <div class="row text-justify">
          <div class="col">
            <h1>Sign In</h1>
            <hr>
          </div>
        </div>
        <form enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %}
        {{form | crispy}} <br>
        <input class="btn btn-primary" type="submit">
        <a class="btn btn-success" href="/accounts/register/">Sign Up</a>
        <a class="btn btn-danger" href="/accounts/password_reset_email">Forgot Password</a>
        </form>
        </main>
</body>


{% endblock %}
